PORT=5000
MONGO_URI=mongodb+srv://evoPulse:Qg10ZzQtydICoTR5@cluster0.cszcckk.mongodb.net/evopulse?retryWrites=true&w=majority&appName=Cluster0
DB_NAME=evopulse
CLIENT_URL=http://localhost:3000
JWT_SECRET=AqdsDLilgGRuCpGrHkzBfGoCEMohbtfCylrElxaLobE=
JWT_EXPIRES_IN=7d
API_RATE_LIMIT_MAX=300
AUTH_RATE_LIMIT_MAX=20
